# Configuration registrations-service
PORT=3003
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USER=eventhub
DB_PASSWORD=eventhub
DB_NAME=eventhub_registrations
DB_POOL_MAX=10

# Communication inter-services (API REST)
EVENTS_SERVICE_URL=http://localhost:3001
PARTICIPANTS_SERVICE_URL=http://localhost:3002
HTTP_TIMEOUT_MS=3000
