# Configuration events-service
PORT=3001
NODE_ENV=development

# Base de donnees dediee au service (pattern database per service)
DB_HOST=localhost
DB_PORT=5432
DB_USER=eventhub
DB_PASSWORD=eventhub
DB_NAME=eventhub_events
DB_POOL_MAX=10

# Communication inter-services
REGISTRATIONS_SERVICE_URL=http://localhost:3003
HTTP_TIMEOUT_MS=3000
